.page-border {
    border-radius: .5;
    border-color: black;
    border-width: medium;
}

.hero {
background-color: blue;    
}

.app-title {
    color: white;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: rgb(30, 185, 241);
    color: white;
    border: none;
    border-bottom: thin gray;
    border-radius: .5;
}

.weather-info {
    border: black;
    border-width: thin;
    color: rgb(232, 11, 11);
}

#five-day {
    display: flex;
}
